In [1]:
import numpy as np
import pandas as pd

In [18]:
cat = pd.read_csv("data/categories_edited.csv")
cat.sample(5)

,domainId,catId,name,parent,highestRank,productCount,contextFreeName,lowestRank
1394,1,11717387011,Prostate Disease,156466011,6738647,415,Prostate Disease,6396
119,1,8624149011,Sports & Outdoors,8584459011,6954680,6960,30-Minute Sports & Outdoors Short Reads,15239
411,1,157255011,Research,157119011,6964319,11529,Medical Research,1454
993,1,8917500011,Family,158561011,6982958,6764,Family & Personal Growth,716
1162,1,158171011,Graduate & Professional,158240011,6921105,2927,Graduate & Professional Test Preparation,844

In [3]:
cat.shape

(1396, 8)

### No NA values

In [4]:
cat.isna().sum()

domainId           0
catId              0
name               0
parent             0
highestRank        0
productCount       0
contextFreeName    0
lowestRank         0
dtype: int64

In [5]:
cat.domainId.unique()

array([1])

### Data Types

In [9]:
cat.dtypes

domainId            int64
catId               int64
name               object
parent              int64
highestRank         int64
productCount        int64
contextFreeName    object
lowestRank          int64
dtype: object

### No duplicates in data set

In [16]:
cat.duplicated().sum()

0

### Category Names + Distributions

In [8]:
cat.name.value_counts()

History                      18
Reference                    12
Self-Help                    11
Religion & Spirituality       9
Travel                        8
                             ..
Schools, Periods & Styles     1
Baroque                       1
Ancient & Classical           1
Romantic                      1
Chronic Fatigue Syndrome      1
Name: name, Length: 1110, dtype: int64

In [21]:
cat[cat.name == "Travel"]

,domainId,catId,name,parent,highestRank,productCount,contextFreeName,lowestRank
25,1,8624226011,Travel,8584462011,6964863,15620,90-Minute Travel Short Reads,1033
46,1,8624251011,Travel,8584463011,6963562,19624,Two-Hour Travel Short Reads,1537
75,1,8624126011,Travel,8584458011,6959047,3656,15-Minute Travel Short Reads,15957
98,1,8624201011,Travel,8584461011,6926272,7551,One-Hour Travel Short Reads,6712
127,1,8624151011,Travel,8584459011,6918769,6076,30-Minute Travel Short Reads,7845
148,1,8624176011,Travel,8584460011,6942565,8400,45-Minute Travel Short Reads,4485
245,1,17403662011,Travel,2486013011,4137442,50,Kindle Singles: Travel,164593
465,1,154735011,Travel,154715011,6944594,8490,Travel Photography,7523

Categories with the same name have different context-free names